<div class="card">
  <img src="https://images.pexels.com/photos/14958090/pexels-photo-14958090/free-photo-of-aerial-view-of-hills-in-the-death-valley.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views - 100</small>
    <h5 class="mt-1">how to start a blog</h5>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam sint aspernatur labore quaerat vel modi distinctio quod eum? Voluptate, repellat possimus. Deserunt earum nostrum explicabo similique amet quidem nobis ipsa.</p>
    <small class="bg-light text-warning text-center ml-3">Last updated: 1/1/1070</small>
  </div>
</div>
